<!DOCTYPE html>
<html lang="en">
<head>
<title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag  'application',"http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", 'http://fonts.googleapis.com/css?family=Wire+One','http://fonts.googleapis.com/css?family=Montaga', 'http://fonts.googleapis.com/css?family=Almendra+Display', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	
</head>
  <!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class  -->
<body class="theme-invert text-shadows">
<%#= form_tag root_path, :class => 'locale' do %>
<%#= select_tag 'set_locale' ,
options_for_select(LANGUAGES, I18n.locale.to_s),
:onchange => 'this.form.submit()' %>
<%# end %>  

<%= render 'layouts/nav' %>

<%= render 'layouts/home' %>

<%= render 'layouts/about' %>

<%= render 'layouts/works' %>

<%= render 'layouts/contact' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>

</html>