<!DOCTYPE html>
<html lang="en">
<head>
<title><%#= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag  'application',"http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", 'http://fonts.googleapis.com/css?family=Wire+One',media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<%= render 'layouts/nav' %>

<%= render 'layouts/home' %>

<%= render 'layouts/about' %>

<%= render 'layouts/works' %>

<%= render 'layouts/contact' %>
</body>

</html>